body
{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 130px;
   
}
.header .header_navbar
{
    border-bottom: 1px solid rgb(158, 156, 156);
    width: 100%;
    display: flex;
    height: 30px;
    

}
.header_navbar .header_navbar_items
{
    width: 50%;
    height: 30px;
    line-height: 30px;
    list-style: none;
    margin-top: 0;
    display: flex;

}
.header_navbar .header_navbar_items li a
{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    margin-left: 15px;
}
.header_navbar .header_navbar_support
{
    width: 50%;
    height: 30px;
    list-style: none;
    margin-top: 0;
    display: flex;
}

.header_navbar .header_navbar_support li a
{
    color: black;
    line-height: 30px;
    margin-left: 15px;
    text-decoration: none;
}

.header_navbar_search
{
    margin-top: 2px;
    height: 100px;
    width: 100%;
    display: flex;
}
.header_navbar_search .header_logo
{
    width: 30%;
    height: 100px;
}
.header_navbar_search .header_logo .logo
{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 100px;
}
.header_navbar_search .header_search
{
    display: flex;
    width: 50%;
    height: 100px;
}
.header_navbar_search .header_search #t
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    height: 20px;
    width: 60%;

}
.header_navbar_search .header_search #s
{
    height: 26px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header_navbar_search .header_market
{
    width: 20%;
    height: 100px;
}
.header_navbar_search .header_market #iconmk
{
    position: absolute;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgb(48, 47, 47);
}
.header_navbar_search .header_market #number
{
    position: absolute;
    top: 58px;
    width: 18px;
    margin-left: 25px;
    border-radius: 5px;
    background-color: gray;
    text-align: center;
    color: white;
}


.menu
{
    background-color: black;
}
.thanhmenu
{
    position: relative;
	width: 100%;
	height: 50px;
	background-color: #000000;
}
.thanhmenu .menungang {
    margin-top: 0;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.thanhmenu .menungang li {
	display: inline-block;
	height: 100%;
	position: relative;
}
.thanhmenu .menungang li a {
	text-decoration: none;
	color: white;
	font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    padding-left: 7px;
    padding-right: 7px;
}
.thanhmenu .menungang li a:hover {
    background-color: rgb(119, 114, 114);
    transition: 0.5s;
}
.thanhmenu .menungang li ul {
	width: 220px;
	list-style: none;
	position: absolute;
	top: 47px;
    left: -43px;
	visibility: hidden;
	transform-origin: 0% 0%;
	transition: 0,1s;
    z-index: 10;

}
.thanhmenu .menungang li ul li {
	background: white;
	width: 100%;
	padding: 10px 10px;
}
.thanhmenu .menungang li:hover ul {
	transform: translateY(0px);
    visibility: visible;
    transition: 0.5s;
}
.thanhmenu .menungang li ul li a {
    text-align: left;
	text-decoration: none;
	display: block;
    color: black;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
}
.thanhmenu .menungang li ul li:hover a{
    background-color: white;
    text-decoration: underline;
    
}

/*  Menu responsive*/
.thanhmenu2 {
    display: block;
	width: 100%;
	height: 40px;
	background-color: #000000;
}
.thanhmenu2 .menungang2 {
    margin-left: -120px;
    margin-top: 0;
    height: 40px;
    text-align: center;
}
.thanhmenu2 .menungang2 li {
	display: inline-block;
	height: 100%;
	position: relative;
}
.thanhmenu2 .menungang2 li a {
	text-decoration: none;
	color: white;
	font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    line-height: 40px;
    padding-left: 7px;
    padding-right: 7px;
}
.thanhmenu2 .menungang2 li a:hover {
    background-color: rgb(119, 114, 114);
    transition: 0.5s;
}
.thanhmenu2 .menungang2 li ul {
	width: 250px;
	list-style: none;
	position: absolute;
	top: 39px;
	left: 0px;
	visibility: hidden;
	transform-origin: 0% 0%;
	transition: 0,1s;
    transform: translateY(-10px);
    z-index: 20;

}
.thanhmenu2 .menungang2 li ul li {
    border-radius: 5px;
	background: black;
	width: 100%;
	padding: 10px 10px;
}
.thanhmenu2 .menungang2 li:hover ul {
	transform: translateY(0px);
    visibility: visible;
    transition: 0.5s;
}
.thanhmenu2 .menungang2 li ul li a {
	text-decoration: none;
	display: block;
	color: white;
    font-family: tahoma;
}
.thanhmenu2 .menungang2 li ul li:hover {
	background-color: rgb(119, 114, 114);
}


.slide
{
    height: 750px;
    width: 100%;
}
.slide #imgslide
{
    height: 100%;
    width: 100%;

}



.body
{
    width: 100%;
    text-align: center;
    font-family: tahoma;
}
.body .body1
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.body .body2
{
    height: auto;
    width: 100%;
}
.body .body2 .ah1
{
    margin-top: 40px;
    height: auto;
    font-size: 18px;
    text-align: center;
}
.body .body2 .contentbody
{
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.body .body2 .contentbody .leftbody
{
    width: 33%;
}
.body .body2 .contentbody .leftbody .imgbody1
{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
}




.productnew
{
    height: auto;/* Chiều cao*/
    width: 1200px;/* Chiều rộng*/
    margin-left: auto;/* Chiều  trái tự động*/
    margin-right: auto;
}
.productnew .ah2
{
    padding-top: 5px; /* Cách mép trên 5px*/
    text-align: center;/* Căn chữ ở giữa*/
    font-size: 18px;/* Cỡ chữ 18px*/
}

.productnew .producttop #product1
{
    margin-top: -12px;
    width: 20%;/* CHiếm chiều rộng bằng 20% thằng cha*/
    height: auto; /* Chiều cao tự động theo phần tử*/
}
#product1 :hover
{
    color: red;
}

.productnew .producttop #product1 .img1
{
    transition: 2s; /* cung cấp một cách để điều khiển tốc độ của hiệu ứng khi thay đổi các thuộc tính của CSS */
    overflow: hidden;/*Khi chiều cao của box không đủ chứa text, thì text bị tràn sẽ được dấu đi*/
    box-sizing: border-box;/*/*kế thừa lại chiều rộng vs cao và ko cho tràn ra khỏi div*/
}

.productnew .producttop #product1 .img1 .imgsp
{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.productnew .producttop #product1 .img1:hover .imgsp
{
    transition: s;
    transform:  scale(1.1); /* zoom to phần tử so với c*/
}

.tittle
{
    
    font-size: 19px;
    height: 40px;
}
.gia
{
    color: red;
    font-size: 19px;
    height: 20px;
    margin-top: -16px;
}
.productnew .producttop a
{
    text-decoration: none;
}
.productnew .producttop .nd
{
    margin-top: -15px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: 80px;
    text-align: center;
}
a
{
    color: black;
}
/* Footer */
.footer {
    border-top: 2px solid gray;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;

    background-color: #e4e3ec;
}
.footer__heading {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-color);

}
.footer-list {
    padding-left: 0;
    list-style: none;
}
.footer-item__link {
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: #737373;
    padding: 2px 0;
    align-items: center;
}

.footer-item__icon {
    font-size: 20px;
    margin: -1px 8px 0 0;
}
.footer__download {
    display: flex;
}
.footer__download-qr {
    width: 90px;
    height: 84px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img {
    height: 20px;
    /* margin-top: 10px; */
    
}
.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}