@media(min-width:1024px)
{
    .thanhmenu2
    {
        display: none;
    }

}
/* Mobile and tablet*/
@media (max-width:1023px)
{
    .hide-on-mobile-tablet
    {
        display: none;
    }
    .thanhmenu
    {
        display: none;
    }
    .thanhmenu2
    {
        display: block;
    }
    .slide
    {
        width: 100%;
        height: 450px;
    }
    
}
/* Tablet*/
@media (max-width:1023px) and (min-width:740px)
{
    .hide-on-tablet
    {
        
        display: none;
    }
    #support
    {
        display: none;
    }
    .slide
    {
        width: 100%;
        height: 370px;
    }
    .header_navbar_search .header_logo .logo
    {
    width: 100%;
    height: 100px;
    }
 
    #icondanhsach
    {
        display: none;
    }
    .body
    {
        height: auto;
    }
    .body2
    {
        height: auto;
    }
    .body .body2 .contentbody
    {
        height: auto;

    }
    .body .body2 .contentbody .leftbody
    {

        height: auto;
        width: 33%;
        height: auto;
    }
    .body .body2 .contentbody .leftbody .imgbody1
    {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        height: auto;

    }

    .productnew .ah2
    {
        height: auto;
        padding-top: 0px;
        
    }
    .productnew .producttop #product1
    {
        margin-top: 8px;
        height: auto;
    }
    .productnew .producttop .nd .tittle
    {
        width: auto;
        height: 50px;
    }
    .productnew .producttop .nd .gia
    {
        width: auto;
        height: 30px;
    }
    .productnew .producttop #product1 a:hover
    {
        color: rgb(73, 71, 71);
    }
    .footer
    {
        display: flex;
        border-top: 2px solid gray;
        height: 120px;
        width: 100%;
    }
    .footer #conntent
    {
        height: 120px;
        width: 100%;
    }
    .footer #conntent #support
    {
        width: 45%;
    }
    .footer #conntent #support li
    {
        list-style: none;
    }
    .footer #conntent #support li a
    {
        color: black;
        text-decoration: none;
    }
    .footer #conntent #support li:hover a
    {
        text-decoration: underline;
        color: white;
    }
    .footer #conntent #info
    {
        list-style: none;
        height: 100%;
        width: 50%;
    }
    
}
/* Mobile */
@media (max-width:739px) and (min-width:500px)
{
    
    .menungang2
    {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .slide
    {
        width: 100%;
        height: 270px;
    }
    #support
    {
        display: none;
    }

    .hide-on-mobile
    {
        display: none;
    }
    .header_navbar_search .header_logo .logo
    {
        width: 100%;
        height: 90px;
    }

    #iconhome
    {
        display: none;
    }
    .body
    {
        height: auto;
    }
    .body2
    {
        height: auto;
    }
    .body .body2 .contentbody
    {
        height: auto;
    }
    .body .body2 .contentbody .leftbody
    {
        width: 33%;
    }
    .body .body2 .contentbody .leftbody .imgbody1
    {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;

    }

    .productnew .producttop #product1
{
    margin-top: -12px;
    width: 20%;
    height: auto;
}


.productnew .producttop #product1 .img1
{
    transition: 2s;
    overflow: hidden;
    box-sizing: border-box;
}

.productnew .producttop #product1 .img1 .imgsp
{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.productnew .producttop #product1 .img1:hover .imgsp
{
    transition: 2s;
    transform:  scale(1.2);
    transition: scaleY(0);
}

.tittle
{
    height: 40px;
}
.gia
{
    height: 20px;
    margin-top: -16px;
}
.productnew .producttop a
{
    text-decoration: none;
}
.productnew .producttop .nd
{
    margin-top: -15px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: 80px;
    text-align: center;
}
    
    .r3
    {
        margin-top: 5px;
    }
    .s10
    {
        display: none;
    }
  

    #home
    {
        display: none;
    }
    .s1
    {
        margin-top: -100px;
    }


    .footer
{
    border-top: 2px solid gray;
    height: 100px;
    width: 100%;
}
.footer #conntent
{
    height: 100px;
    width: 100%;
}

.footer #conntent #info
{
    list-style: none;
    width: 100%;
}
   
}


@media (max-width:499px)
{
    .header_navbar_items
    {
        font-size: 12px;
    }
    #support
    {
        display: none;
    }
    #home
    {
        display: none;
    }
    #iconhome
    {
        display: none;
    }
    .thanhmenu2 
    {
        top: -1000px;
    }
    .menungang2 li
    {
        font-size: 15px;
    }
    .slide
    {
        height: 300px;
    }
    .s10
    {
        display: none;
    }
    .tittle
    {
    height: 50px;
    }
    .header_navbar_search .header_logo
    {
        width: 30%;
        height: 100px;
    }
    .header_navbar_search .header_logo .logo
    {
        width: 100%;
        height: 90px;
    }
}
