body
{
    margin: 0;
    padding: 0;
}
.header
{
    border-bottom: 2px solid gray;
}
#row
{
    display: flex;
    background-color: skyblue;
    width: 100%;
    height: 100px;
   
}
.left
{
    border-right: 2px solid gray;
}
.search
{
    margin-top: 10%;
    display: flex;
    
}
.search .input
{
    width: 70%;
}
.search .icon
{
    margin-left: 0;
    width: 20%;
}
.sp
{
    height: 210px;
    width: 100%;
    display: flex;
    
}
.sp .left
{
    height: 210px;
    width: 19%;

}
.sp .right
{
    height: 210px;
    width: 80%;
}